:root {
  --button-gap: 2rem
}

/* Desktop screen */
@media only screen and (min-width: 768px) {
  :root {
    --button-gap: 5rem
  }
}

.recording-controller-group {
  display: flex;
  flex-direction: row;
  gap: var(--button-gap);
  justify-items: center;
  align-items: center;
}
