:root {
    --vertical-padding: 5rem;
    --side-padding: 3rem
}
.page-under-construction-section {
    padding: var(--vertical-padding) var(--side-padding);
    height: var(--display-page-height);
    text-align: center;
}

.back-to-prev-page-btn {
    background-color: var(--dark-blue);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    color: var(--white);
}
