:root {
  --record-btn-diameter: 15rem;
  --record-btn-text-size: 1rem;

  --outer-cirle-radius: 45;
  --inner-circle-radius: 35;

  --emphasis-scaling-factor: 1.25;
}

.record-button {
  height: var(--record-btn-diameter);
  width: var(--record-btn-diameter);
  border-radius: calc(var(--record-btn-diameter) / 2);
  border: none;
  background-color: inherit;
}

.record-icon-svg {
  height: 100%;
  width: 100%;
}

.record-icon-outer-circle {
  fill: var(--white);
  stroke: var(--red);
  strokewidth: 3px;
  r: var(--outer-cirle-radius);
}

.record-button:hover svg .record-icon-outer-circle {
  stroke: var(--bright-red);
  r: calc(var(--outer-cirle-radius) * var(--emphasis-scaling-factor));
}


.record-icon-inner-circle {
  fill: var(--red);
  r: var(--inner-circle-radius);
}

.record-button:hover svg .record-icon-inner-circle {
  fill: var(--bright-red);
  r: calc(var(--inner-circle-radius) * var(--emphasis-scaling-factor));
}


.record-icon-text {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: var(--white);
  font-weight: bold;
  font-size: var(--record-btn-text-size);
}


.record-button:hover svg .record-icon-text {
  font-size: calc(var(--record-btn-text-size) * var(--emphasis-scaling-factor));
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}
