#recording-view-main-section {
  display: grid;
  height: 90vh;
  grid-template-rows: 3fr 1fr 3fr;
}

.playback-audio-section {
  grid-row: 1;
  align-self: end;
  justify-self: center;
}

.playback-audio-heading {
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .playback-audio-heading {
    font-size: 1.7rem;
  }

  #playback-audio-comp {
    width: 25vw;
  }
}
