:root {
  --ring-diameter: 10rem;
}
.recording-stop-watch {
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.recording-time {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  z-index: -1;
  width: var(--ring-diameter);
  height: var(--ring-diameter);
}
.lds-ripple div {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  border: 4px solid var(--red);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: calc(var(--ring-diameter) / 2);
    left: calc(var(--ring-diameter) / 2);
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: calc(var(--ring-diameter) / 2);
    left: var(--ring-diameter) / 2;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: calc(var(--ring-diameter) / 2);
    left: calc(var(--ring-diameter) / 2);
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: var(--ring-diameter);
    height: var(--ring-diameter);
    opacity: 0;
  }
}
