.recording-in-progress-main-section {
  display: grid;
  height: 90vh;
  grid-template-rows: 3fr 1fr 3fr;
}

.recording-stop-watch {
  grid-row: 1;
  align-self: end;
  justify-self: center;
}

.recording-controller-group {
  grid-row: 3;
  justify-self: center;
  align-self: start;
}
