@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

:root {
  /* COLOURS */
  --light-grey: #edebeb;
  --dark-grey: #5c5c5c;
  --black: #1f1e1e;
  --red: #df7167;
  --bright-red: #db3b2d;
  --white: white;
  --dark-blue: #282f86;

  /* THICKNESS */
  --icon-outline-weight: 3px;


  /* PADDING */
  --side-padding: 1rem;
  --vertical-padding: 1.5rem;

  /* SIZING */
  --display-page-height: 90vh;
  --recording-control-icon-diameter: 4rem;

}

html {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  :root {
    --recording-control-icon-diameter: 5rem;
  }

  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.recording-control-button {
  height: var(--recording-control-icon-diameter);
  width: var(--recording-control-icon-diameter);
  border-radius: calc(var(--recording-control-icon-diameter)/2);
  border: 0.25rem solid var(--dark-grey);
  background-color: inherit;
}

button.recording-control-button> svg {
  fill: var(--dark-grey);
}

.recording-control-button:disabled {
  border-color: var(--light-grey);
}

button.recording-control-button:disabled > svg {
  fill: var(--light-grey);
}

button.recording-control-button:hover:enabled {
  border-color: var(--black);
}

button.recording-control-button:hover:enabled > svg {
  fill: var(--black);
}

